
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact {
  padding: 60px 20px;
 
  font-family: "Rubik", sans-serif;
}


.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 768px) {
  .contact-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* FORM STYLE */
form {
  flex: 1;
}

.form-control {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: #222;
  
  font-size: 16px;
  transition: 0.3s;
}

.form-control:focus {
  outline: none;
  background: #333;
  box-shadow: 0 0 5px #00c6ff;
}

.direct-contact-container {
  flex: 1;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.list-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.list-item i {
  color: #00c6ff;
  font-size: 20px;
}

.contact-text a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.contact-text a:hover {
  color: #00c6ff;
}

/* مواقع التواصل */
.social-media-list {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-icon {
  font-size: 24px;
  transition: 0.3s;
}

.contact-icon:hover {
  transform: scale(1.1);
}


hr {
  border: none;
  border-top: 1px solid #333;
  margin: 20px 0;
}
.copyright {
  text-align: center;
  font-size: 14px;

}


