.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

a:hover {
  color:#ffe28a;
}
